@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 16px;

    --primary-navbar-height: 60px;
    --secondary-navbar-height: 60px;
    --compose-navbar-height: 88px;
    --compose-footer-height: 64px;
    --notification-navbar-height: 56px;
    --footer-height: 900px;
    --productcatalog-sticky-footer-height: 60px;

    --radius: 0.5rem;

    --color-basics-gray-1: #383a3d;
    --color-basics-gray-2: #7f848a;
    --color-basics-gray-3: #b9bec2;
    --color-basics-gray-4: #faf6f5;
    --color-basics-gray-98: #fafafa;
    --color-basics-gray-border: #ebebeb;
    --color-basics-gray-border-2: #dbdbdb;
    --color-basics-gray-border-3: #b8b8b8;
    --color-basics-background-default: #f6f6f6;
    --color-basics-background-dark: #f4f5f7;

    --color-brand-gold: #ceb699;
    --color-brand-dark-blue: #1e3137;

    --color-neutral-background-1: #f5f4f1;
    --color-neutral-background-2: #fafaf8;

    --color-interface-background-amber: #f7f0df;
    --color-interface-background-green: #eefcf5;
    --color-interface-background-red: #fef0ef;
    --color-interface-input-idle: #dadde0;
    --color-interface-input-active: #81868b;
    --color-interface-input-disabled: #fafafa;
    --color-interface-input-error: #d65745;

    --color-button-idle: #1e2f37;
    --color-button-hover: #35444b;
    --color-button-gold-idle: #ceb699;
    --color-button-gold-hover: #c8ad8f;
    --color-button-line-idle: #1e2737;
    --color-button-line-hover: #35444b;
    --color-button-disabled: #f5f5f5;

    --color-input-error: #d65745;
    --color-input-focus: #81868b;

    --color-line-button-idle: #1e2737;
    --color-line-button-hover: #f6f6f6;
    --color-solid-button-idle: #1e2737;
    --color-solid-button-hover: #353d4b;

    --color-white: #ffffff;
    --color-primary: #232629;
    --color-secondary: #76787a;
    --color-tertiary: #b4b6b8;
    --color-hover: #686b6e;
    --color-active: #2568cc;

    --color-skeleton: #f5f4f4;
    --color-overlay: rgba(255, 255, 255, 0.24);
    --color-overlay-black: rgba(51, 51, 51, 0.48);

    --color-brown: #eed5ca;

    --color-floral-white: #edfcfb;

    //Blog
    --color-fg-default: #ffffff;
    --color-fg-muted: #768390;
    --color-fg-subtle: #636e7b;
    --color-fg-border: #21262d;
    --color-fg-on-emphasis: #cdd9e5;
    --color-bg-default: #22272e;
    --color-bg-dark: #0d1117;
    --color-link-hover: #79c0ff;

    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
      135deg,
      rgb(74, 234, 220) 0%,
      rgb(151, 120, 209) 20%,
      rgb(207, 42, 186) 40%,
      rgb(238, 44, 130) 60%,
      rgb(251, 105, 98) 80%,
      rgb(254, 248, 76) 100%
    );
    -wp--preset--gradient--blush-light-purple: linear-gradient(
      135deg,
      rgb(255, 206, 236) 0%,
      rgb(152, 150, 240) 100%
    );
    --wp--preset--gradient--blush-bordeaux: linear-gradient(
      135deg,
      rgb(254, 205, 165) 0%,
      rgb(254, 45, 45) 50%,
      rgb(107, 0, 62) 100%
    );
    --wp--preset--gradient--luminous-dusk: linear-gradient(
      135deg,
      rgb(255, 203, 112) 0%,
      rgb(199, 81, 192) 50%,
      rgb(65, 88, 208) 100%
    );
    --wp--preset--gradient--pale-ocean: linear-gradient(
      135deg,
      rgb(255, 245, 203) 0%,
      rgb(182, 227, 212) 50%,
      rgb(51, 167, 181) 100%
    );
    --wp--preset--gradient--electric-grass: linear-gradient(
      135deg,
      rgb(202, 248, 128) 0%,
      rgb(113, 206, 126) 100%
    );
    --wp--preset--gradient--midnight: linear-gradient(
      135deg,
      rgb(2, 3, 129) 0%,
      rgb(40, 116, 252) 100%
    );
  }

  ::-webkit-scrollbar {
    //@apply hidden;
  }

  @media (min-width: 481px) {
    :root {
      --notification-navbar-height: 36px;
      --footer-height: 540px;
      --compose-navbar-height: 64px;
    }
  }

  @media (min-width: 769px) {
    :root {
      --footer-height: 490px;
    }
  }
}

@layer base {
  body {
    @apply bg-white font-[400] text-primary;
  }
}

@layer components {
  .bg-linear-wave {
    background: rgb(199, 175, 255);
    background: linear-gradient(
      90deg,
      rgba(199, 175, 255, 1) 0%,
      rgba(64, 193, 212, 1) 33%,
      rgba(0, 155, 255, 1) 72%,
      rgba(224, 228, 238, 1) 100%
    );
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .inset-x-center {
    @apply left-[50%] translate-x-[-50%];
  }

  .inset-y-center {
    @apply top-[50%] translate-y-[-50%];
  }

  .button-1 {
    @apply text-[12px] leading-[12px] tracking-[.72px] uppercase;
  }

  .button-2 {
    @apply text-[10px] leading-[12px] tracking-[.3px] uppercase;
  }

  /* ========================================
                  Header
  ======================================== */
  .header-caps {
    @apply font-sharp-grotesk text-[13px] leading-[18px] tracking-[1.04px] uppercase;
  }

  .header-super {
    @apply font-sharp-grotesk text-[60px] leading-[72px];
  }

  .header-1 {
    @apply font-sharp-grotesk text-[46px] leading-[58px];
  }

  .header-2 {
    @apply font-sharp-grotesk text-[38px] leading-[48px];
  }

  .header-3 {
    @apply font-sharp-grotesk text-[32px] leading-[44px];
  }

  .header-4 {
    @apply font-sharp-grotesk text-[26px] leading-[34px];
  }

  .header-5 {
    @apply font-sharp-grotesk text-[20px] leading-[28px];
  }

  /* ========================================
                  Body
  ======================================== */
  .body-1 {
    @apply font-public-sans text-[18px] leading-[30px];
  }

  .body-2 {
    @apply font-public-sans text-[16px] leading-[26px];
  }

  .body-3 {
    @apply font-public-sans text-[14px] leading-[22px];
  }

  .body-4 {
    @apply font-public-sans text-[13px] leading-[20px];
  }

  /* ========================================
                  Caption
  ======================================== */
  .caption-10 {
    @apply text-[10px] leading-[14px];
  }

  .caption-12 {
    @apply text-[12px] leading-[18px];
  }

  /* ========================================
                  Tab
  ======================================== */
  .tab-1 {
    @apply border-b border-[basics-gray] border-b;
  }

  .tab-2 {
    @apply border-b border-[basics-gray] border-b-2;
  }
}

@layer utilities {
  /* Neo Brutalism */
  .neo-brutalism-blue {
    position: relative;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .neo-brutalism-white {
    background: #fff;
    border: #fff;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .max-container {
    @apply max-w-5xl mx-auto pb-12 px-8 min-h-[calc(100vh-80px)];
  }

  .max-container-blog {
    @apply max-w-6xl mx-auto pb-12 px-4 sm:px-12 md:px-8 min-h-[calc(100vh-80px)];
  }

  .max-container-centre {
    @apply max-w-7xl mx-auto pb-12 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .shadow-card {
    @apply shadow-lg rounded-lg p-4;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff]  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto;
  }

  .header-primary {
    @apply absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .header-secondary {
    @apply sticky top-0 z-[49] transition-all duration-700 ease-in-out;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black font-extrabold flex-1 text-3xl max-md:text-center;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow:
    0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.bg-linear-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  will-change: transform;
  box-shadow: 16px 0 40px #000000;
  transform: rotateZ(10deg);
  transform-origin: bottom right;
  background: linear-gradient(135deg, #000000 0%, transparent 120%);
}

.bg-linear-black-to-white {
  background: linear-gradient(0deg, #000000 -100%, transparent 80%);
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
  border-radius: 30px;
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  position: relative;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
}

// Not found css
/* From Uiverse.io by Praashoo7 */
/* Design Inspired by one of Stefan Devai's Design on Dribble */

.main_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f27405;
  margin-bottom: -6em;
  margin-left: 0em;
  z-index: -1;
}
.antenna_shadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow:
    inset 0px 16px #a85103,
    inset 0px 16px 1px 1px #a85103;
  -moz-box-shadow:
    inset 0px 16px #a85103,
    inset 0px 16px 1px 1px #a85103;
}
.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}
.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}
.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}
.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}
.a2 {
  position: relative;
  top: -210%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: 50px;
  background-color: #171717;
  background-image: linear-gradient(
    #171717,
    #171717,
    #353535,
    #353535,
    #171717
  );
  margin-right: 5em;
  clip-path: polygon(
    47% 0,
    47% 0,
    34% 34%,
    54% 25%,
    32% 100%,
    29% 96%,
    49% 32%,
    30% 38%
  );
  transform: rotate(-8deg);
}
.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.notfound_text {
  background-color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.75em;
  color: white;
  letter-spacing: 0;
  border-radius: 5px;
  z-index: 10;
}
.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #d36604;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
  box-shadow: inset 0.2em 0.2em #e69635;
}
.tv::after {
  content: "";
  position: absolute;
  width: 17em;
  height: 9em;
  border-radius: 15px;
  background:
    repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 50%
      0/2500px 2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60%
      60%/2500px 2500px;
  background-blend-mode: difference;
  opacity: 0.09;
}
.curve_svg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}
.display_div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3.5px 3.5px 0px #e69635;
}
.screen_out {
  width: auto;
  height: auto;

  border-radius: 10px;
}
.screen_out1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.screen {
  width: 13em;
  height: 7.85em;
  font-family: Montserrat;
  border: 2px solid #1d0e01;
  background:
    repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
      2500px;
  background-blend-mode: difference;
  animation: b 0.2s infinite alternate;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
}
@keyframes b {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

/* Another Error Screen to Use 

.screen {
  width: 13em;
  height: 7.85em;
  position: relative;
  background: linear-gradient(to right, #002fc6 0%, #002bb2 14.2857142857%, #3a3a3a 14.2857142857%, #303030 28.5714285714%, #ff0afe 28.5714285714%, #f500f4 42.8571428571%, #6c6c6c 42.8571428571%, #626262 57.1428571429%, #0affd9 57.1428571429%, #00f5ce 71.4285714286%, #3a3a3a 71.4285714286%, #303030 85.7142857143%, white 85.7142857143%, #fafafa 100%);
  border-radius: 10px;
  border: 2px solid black;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.15em;
  text-align: center;
  overflow: hidden;
}
.screen:before, .screen:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
}
.screen:before {
  top: 0;
  height: 68.4782608696%;
  background: linear-gradient(to right, white 0%, #fafafa 14.2857142857%, #ffe60a 14.2857142857%, #f5dc00 28.5714285714%, #0affd9 28.5714285714%, #00f5ce 42.8571428571%, #10ea00 42.8571428571%, #0ed600 57.1428571429%, #ff0afe 57.1428571429%, #f500f4 71.4285714286%, #ed0014 71.4285714286%, #d90012 85.7142857143%, #002fc6 85.7142857143%, #002bb2 100%);
}
.screen:after {
  bottom: 0;
  height: 21.7391304348%;
  background: linear-gradient(to right, #006c6b 0%, #005857 16.6666666667%, white 16.6666666667%, #fafafa 33.3333333333%, #001b75 33.3333333333%, #001761 50%, #6c6c6c 50%, #626262 66.6666666667%, #929292 66.6666666667%, #888888 83.3333333333%, #3a3a3a 83.3333333333%, #303030 100%);
}

  */

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
}
.line1,
.line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}
.line2 {
  flex-grow: 1;
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
}
.b1 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b1::before {
  content: "";
  position: absolute;
  margin-top: 1em;
  margin-left: 0.5em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.4em;
  background-color: #000000;
}
.b1::after {
  content: "";
  position: absolute;
  margin-top: 0.9em;
  margin-left: 0.8em;
  transform: rotate(47deg);
  border-radius: 5px;
  width: 0.1em;
  height: 0.55em;
  background-color: #000000;
}
.b1 div {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow:
    inset 2px 2px 1px #b49577,
    -2px 0px #513721,
    -2px 0px 0px 1px black;
}
.b2::before {
  content: "";
  position: absolute;
  margin-top: 1.05em;
  margin-left: 0.8em;
  transform: rotate(-45deg);
  border-radius: 5px;
  width: 0.15em;
  height: 0.4em;
  background-color: #000000;
}
.b2::after {
  content: "";
  position: absolute;
  margin-top: -0.1em;
  margin-left: 0.65em;
  transform: rotate(-45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000000;
}
.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}
.speakers .g1 .g11,
.g12,
.g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}
.speakers .g {
  width: auto;
  height: 2px;
  background-color: #171717;
}

.bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
}
.base1 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base2 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}
.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: #171717;
  margin-top: 0.8em;
}

.text_404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-family: Montserrat;
}
.text_4041 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4042 {
  transform: scaleY(24.5) scaleX(9);
}
.text_4043 {
  transform: scaleY(24.5) scaleX(9);
}

.text-gradient-purple-coral {
  background: -webkit-linear-gradient(-70deg, #8250df, #d42a32);
  transition: all 1s ease-in-out;
  transition-duration: 2s;
  transition-delay: 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  -webkit-box-decoration-break: clone;
  &:hover {
    transition: all 1s ease-in-out 0.5s;
    transition-duration: 2s;
    transition-delay: 0.5s;
    background: -webkit-linear-gradient(-70deg, #f40915, #380d88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-box-decoration-break: clone;
  }
}

.text-gradient-purple-coral-dark {
  background-image: linear-gradient(
    140deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #0000;
  -webkit-box-decoration-break: clone;
  color: rgb(121, 192, 255);
}

.text-gradient-purple-light {
  background: linear-gradient(
    92.05deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
  transition: all 1s ease-in-out;
  transition-duration: 2s;
  transition-delay: 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.bg-gradient-purple-coral {
  background: linear-gradient(
    92.05deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
}

.blog-hero::before {
  content: "";
  position: absolute;
  bottom: -106px;
  left: -11%;
  right: -11%;
  height: 360px;
  width: 100%;
  background: linear-gradient(93.23deg, #f778ba 2.35%, #79c0ff 76.99%);
  filter: blur(120px);
  opacity: 0.6;
}
